<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <!--<add key="CLINIC_USER_MAIL" value="simonhui@gmail.com" />-->
    <add key="CLINIC_USER_MAIL" value="bencaotang@gmail.com,jingwumen@gmail.com" />

    
    
    <add key="DATABASE_HOST" value="DESKTOP-JF9S7CF" />
    <add key="DATABASE_NAME" value="BPSPatients" />
    <add key="DATABASE_USER" value="sa" />
    <add key="DATABASE_PASS" value="Miaoyaliu1213" />

    <add key="FOCUSDATA_DATABASE_HOST" value="69.90.161.95" />
    <add key="FOCUSDATA_DATABASE_NAME" value="T76S6frD0FpxQJKGv3Cu0EER3h6yRL6vSHLtzVGvnpOHgDrTAauRWQfDolpJgCdv" />
    <add key="FOCUSDATA_DATABASE_USER" value="T76S6frD0FpxQJKGv3Cu0PsHEBljT/hSKo4SiftEbI8=" />
    <add key="FOCUSDATA_DATABASE_PASS" value="Z0uc0CcRu//tCjHWU3VlT9a7h6Zyhq+X" />


    <!--<add key="FOCUSDATA_DATABASE_HOST" value="127.0.0.1" />
    <add key="FOCUSDATA_DATABASE_NAME" value="mbgLS+f3lyjW5gb/O/TCV5BmdLDylVaK" />
    <add key="FOCUSDATA_DATABASE_USER" value="D/lmqgynqNCdXFhMrLNj5Q==" />
    <add key="FOCUSDATA_DATABASE_PASS" value="mbgLS+f3lyiuTTqld+WcL8qLfFCzjvta9PIXBJmbR9e3IWQC41pUdA==" />-->
    
  </appSettings>
</configuration>