<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <!--<add key="CLINIC_USER_MAIL" value="simonhui@gmail.com" />-->
    <add key="CLINIC_USER_MAIL" value="bencaotang@gmail.com" />
    
    
    <add key="DATABASE_HOST" value="DESKTOP-JF9S7CF" />
    <add key="DATABASE_NAME" value="BPSPatients" />
    <add key="DATABASE_USER" value="sa" />
    <add key="DATABASE_PASS" value="Miaoyaliu1213" />

    <!--<add key="FOCUSDATA_DATABASE_HOST" value="69.90.161.95" />
    <add key="FOCUSDATA_DATABASE_NAME" value="focus167_drpages_test" />
    <add key="FOCUSDATA_DATABASE_USER" value="focus167_drpages" />
    <add key="FOCUSDATA_DATABASE_PASS" value="focus167_drpages" />-->


    <add key="FOCUSDATA_DATABASE_HOST" value="127.0.0.1" />
    <add key="FOCUSDATA_DATABASE_NAME" value="focusdata" />
    <add key="FOCUSDATA_DATABASE_USER" value="root" />
    <add key="FOCUSDATA_DATABASE_PASS" value="focus167_drpages" />
    
  </appSettings>
</configuration>